name: college-quiz-app-dev
services:
    mysql:
        image: mysql:8.0
        container_name: college-quiz-mysql-dev
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: college_quiz_app
            MYSQL_USER: admin
            MYSQL_PASSWORD: 123456789
        ports:
            - "3306:3306"
        volumes:
            - "./mysql-data:/var/lib/mysql"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpassword"]
            interval: 10s
            timeout: 5s
            retries: 5

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:latest
        container_name: college-quiz-phpmyadmin-dev
        restart: unless-stopped
        environment:
            PMA_HOST: mysql
            PMA_PORT: 3306
            PMA_USER: admin
            PMA_PASSWORD: 123456789
            MYSQL_ROOT_PASSWORD: rootpassword
        ports:
            - "8080:80"
        depends_on:
            mysql:
                condition: service_healthy

    backend:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: college-quiz-backend-dev
        expose:
            - "9000"
        restart: unless-stopped
        entrypoint: ["/bin/sh", "/usr/local/bin/entrypoint.dev.sh"]
        environment:
            APP_NAME: "College Quiz App"
            APP_ENV: local
            APP_KEY: ${APP_KEY:-base64:1uk58fPCI6hlbkJXq9knzzJP4kIx5xCTxeISvx/gB4c=}
            APP_DEBUG: "true"
            LOG_LEVEL: "debug"
            APP_URL: http://localhost
            APP_TIMEZONE: "Asia/Ho_Chi_Minh"
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: college_quiz_app
            DB_USERNAME: admin
            DB_PASSWORD: 123456789
            REDIS_HOST: redis
            REDIS_PORT: 6379
            # Admin Seeder Default Values
            ADMIN_FIRST_NAME: Admin
            ADMIN_LAST_NAME: System
            ADMIN_EMAIL: admin@example.com
            ADMIN_BIRTH_DATE: "1990-01-01"
            ADMIN_GENDER: male
            ADMIN_ADDRESS: Default Address
            ADMIN_PASSWORD: admin123
        volumes:
            - "./backend:/var/www/college-quiz-app"
            - "backend-vendor:/var/www/college-quiz-app/vendor"
            - "./backend/storage/logs:/var/www/college-quiz-app/storage/logs"
            - "./backend/storage/uploads:/var/www/college-quiz-app/storage/uploads"
            - "./backend/dump:/var/www/college-quiz-app/dump"
            - "./docker/entrypoint.dev.sh:/usr/local/bin/entrypoint.dev.sh"
            - "./docker/php/zz-docker.dev.conf:/usr/local/etc/php-fpm.d/zz-docker.conf"
            - "./docker/php/zz-docker.dev.conf:/usr/local/etc/php-fpm.d/zz-docker.conf"
        depends_on:
            mysql:
                condition: service_healthy
            redis:
                condition: service_started

    frontend:
        image: node:alpine
        container_name: college-quiz-frontend-dev
        expose:
            - "3000"
        restart: unless-stopped
        volumes:
            - "./frontend:/app"
            - "/app/node_modules"
        working_dir: /app
        command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
        environment:
            - NODE_ENV=development
            - VITE_API_HOST=http://localhost

    nginx-server:
        image: nginx:alpine
        container_name: college-quiz-nginx-dev
        ports:
            - "80:80"
        restart: unless-stopped
        volumes:
            - "./docker/nginx/default.dev.conf:/etc/nginx/conf.d/default.conf"
            - "./docker/nginx/logs:/var/log/nginx"
            - "./backend:/var/www/college-quiz-app:ro"
        depends_on:
            - backend
            - frontend

    redis:
        image: redis:7.4.2-alpine
        container_name: college-quiz-redis-dev
        privileged: true
        command: [ "sh", "-c", "sysctl vm.overcommit_memory=1 && redis-server" ]
        ports:
            - "6379:6379"
        restart: unless-stopped
        volumes:
            - "./redis-data:/data"

volumes:
    backend-vendor:

